body{
    background-color: aliceblue;

}

.fond{
    box-shadow: 0 0 10px black;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    gap: 70px;
}

.entete{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    margin: bottom 20px; ;

}

.image{
    height: 150px;
    width: 150px;
}

.tableau{
    background-color: rgb(194, 194, 194);
    display: flex;
    justify-content: center;
    border-radius: 3px;
}

input{
    width: 90%;
}

table{
    width: 100%;
    text-align: center;
}

th{
    background-color: rgb(100, 185, 25);
    border-radius: 3px;
}

.personne{
    display: flex;
    justify-content: space-between;
}

.Receveur{
    width: 250px;
}

.Destinataire{
    width: 250px;
}