body {
    background-color: #4A4A4A;
    font-family: Arial, sans-serif;
}



h1 {
    color: #9cb446;
}

form{
    background-color:#D904B9;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

table {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    border-collapse: collapse;
}

td {
    padding: 10px;
    text-align: left;
}

label {
    font-weight: bold;
}

label[for="username"], label[for="password"] {
    color: #4682b4;
}

label[for="email"], label[for="birth_date"], label[for="confirm_password"], label[for="genre"], label[for="conditions"] {
    color: #32cd32;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="radio"],
input[type="checkbox"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #aaa;
    border-radius: 5px;
}

input[type="radio"] {
    width: auto;
}

input[type="submit"] {
    background-color: #4682b4;
    color: white;
    border: none;
}

input[type="submit"]:hover {
    background-color: #32cd32;
}

input[type="checkbox"]:disabled {
    background-color: red;
}

@media screen and (max-width: 500px) {
    table {
        width: 100%;
    }
}
